<div id="container">
    <input type="button" class="loadButton" id="loadJason" value="Click to Load" ng-click="loadComments()">
    <div class="jumbotron hoverClass" ng-repeat="parent in ParentArray track by $index">
        <h5 class="headerText">Hi I Am Parent</h5>
        <div class="textStyle fontColor" title="Click To Toggle Child" ng-click=" showChild =!showChild">{{parent.text}}</div>
        <div ng-if="showChild && parent.children.length!=0" ng-repeat="child in parent.children">
            <h5 class="childStyle headerText childStyle">Hi I Am Child</h5>
            <div class="childStyle textStyle fontColor" title="Click To Toggle Grand Child" ng-click="showGrandchild =!showGrandchild;">{{child.text}}</div>
            <div ng-if="showGrandchild && child.children.length!=0" ng-repeat="grandchild in child.children">
                <h5 class="grandchildStyle headerText">Hi I Am Grand Child</h5>
                <div class="grandchildStyle textStyle fontColor">{{grandchild.text}}</div>
            </div>
        </div>
    </div>
</div>
